@model IEnumerable<AdvAgen.Models.order>

@{
    ViewBag.Title = "Index";
}

<h2>Список заказов</h2>

<p>
    
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.number)
        </th>
        <th>
            @if (User.IsInRole("Manager"))
            {
                @Html.DisplayNameFor(model => model.customer.fio)
            }
        </th>
        <th>
            @Html.DisplayNameFor(model => model.advertising.category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.advertisingName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createdDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>         
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.number)
        </td>
        <td>
            @if (User.IsInRole("Manager"))
            {
                @Html.DisplayNameFor(model => model.customer.fio)
            }
        </td>
        <td>
            @Html.DisplayNameFor(model => model.advertising.category)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.advertisingName)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.createdDate)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.status)
        </td>
        <td>
            @if (User.IsInRole("Manager"))
            {
                @Html.ActionLink("Изменить статус", "Edit", new { id = item.number })
            }
            @Html.ActionLink("Удалить", "Delete", new { id=item.number })
        </td>
    </tr>
}

</table>
