@model IEnumerable<AdvAgen.Models.AspNetUser>
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
}

<h2>Список пользователей</h2>

<p>
    
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.AspNetRole.Name)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetRole.Name)
        </td>
        <td>            
            @foreach (var rol in Roles.GetRolesForUser(item.UserName))
            {
                    @Html.Encode(rol.ToString())
            }
            @Html.ActionLink("Изменить роль", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
